name: .NET-Ubuntu

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore ./src/WebApp/WebApp.sln
    - name: Build
      run: dotnet build --no-restore ./src/WebApp/WebApp.sln
    - name: Create new migrations
      run: dotnet ef migrations add "CreatedNewTables" -s ./src/WebApp/WebApp.sln -c ApplicationDbContext
    - name: Test
      run: dotnet test --no-build --verbosity normal ./src/WebApp/WebApp.sln
